html, body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

body {
    background: url("https://s3.amazonaws.com/codecademy-content/projects/junction/bg.jpg") no-repeat fixed center center;
    background-size: cover;
}

.container {
  max-width:940px;
}

/* Header */
.header {
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 60px;  
}

.logo {
  margin: 0px 30px;
}

.nav {
  display: inline-block;
  margin: 0px; 
}

.nav li {
  color: #FFF;
  display: inline;
  font-size: 14px;
  padding: 0px;
  padding: 0px 0px 5px;
  margin-right: 30px;
}

.nav li:hover {
  border-bottom:1px solid #00ffbc;
  color: #00ffbc; 
  cursor:pointer; 
}

/* Jumbotron */
.jumbotron {
  position: relative;
  top: 50px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
  text-align: center;
  background-color: transparent;
}

.jumbotron h1 {
  color: #fff;  
}

/* Supporting */
.supporting {
  margin-top: 40px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
  text-align: center;
}

.supporting h2 {
  color: #fff;
}

.supporting p {
  color: #fff;
}

/* Download */
.download {
  position: relative;
  top: 80px;
  text-align: center;
}

.btn-default {
  background: rgba(0, 255, 188, 0.5) none repeat scroll 0% 0%;
  border: medium none;
  border-radius: 8px;
  color: #FFF;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 10px 60px;
  margin-bottom: 100px;
}

.btn-default:hover {
  background:rgba(0,0,0,0.5);
  color: #fff;
  border: none;
}